*{
    box-sizing: border-box;
    text-align: center;
}
.header{
    background-color: rgb(48, 12, 12);
    width: 100%;
    float: left;
    height: 100px;
}

.footer{
    background-color: rgb(48, 12, 12);
    width: 100%;
    float: left;
    height: 40px;
}

.main{
    background-color: rgba(184, 82, 82, 0.61);
    width: 100%;
    float: left;
}

.menu{
    background-color: rgb(71, 23, 23);
    width: 25%;
    float: left;
    /* height: 300px;  */
}

.dashboard{
    background-color:rgb(97, 64, 64);
    width: 50%;
    float: left;
}

.rss{
    background-color: rgb(71, 23, 23);
    width: 25%;
    float: left;
}
.general{
    position: absolute;  
    width: auto;
    color: aliceblue;
}