*{
    box-sizing: border-box;
    text-align: center;
}

h1{
    font-family: cursive;
    color: white;
}

.header {
    background-color: rgb(48, 12, 12);
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }

.header h1 {
    font-size: 2em;
    font-weight: bold;
    color: aliceblue;
    line-height: 100px;
}
.logo img {
    height: 75px;
  }
  
.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.nav-links li {
    margin-right: 20px;
  }
  
.nav-links li:last-child {
    margin-right: 0;
  }
  
.nav-links a {
    color: aliceblue;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
.nav-links a:hover {
    color: #FF4500;
  }


.divLogo{
    width: 8%; 
    float: left;
}

.divTitulo{
    width: 92%; 
    float: left;
}
.imgLogo{
    width: 90%;
    float: left;
}
.footer{
    background-color: rgb(48, 12, 12);
    width: 100%;
    float: left;
}

.divFooter{
    width:33.33%; 
    float: left;
}

.divFooterHorario{    
    margin-left: 50px; 
    margin-right: 50px;
}
.aFooter{
    margin-right: 10px;
}

.main{
    /* background-color: rgb(97, 64, 64); */
    width: 100%;
    float: left;
}

.mainLaCarta{
    background-image: url("/img/imgLacarta/ImgFondo2.jpg");
    background-size: auto;
    background-position: center;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.divMenu1{
    background-color: rgb(124, 87, 57);
    padding: 10px;
    margin: 20px;
}

.divMenu2{
    background-color:rgb(165, 27, 50);
    padding: 10px;
    margin: 20px;
}

.divMenu3{
    background-color:  rgb(50, 95, 56);
    padding: 10px;
    margin: 20px;
}

.divMenu4{
    background-color: rgb(14, 50, 56);
    padding: 10px;
    margin: 20px;
}

.menu{
    /* background-color: rgb(71, 23, 23); */
    width: 25%;
    float: left;
}

.dashboard{
    /* background-image: url("/img/ImgIndex/cafeteria.jpg"); */
    background-color:  rgb(97, 64, 64);
    width: 50%;
    float: left;
}

.dashboardLaCarta{
    width: 50%;
    float: left;
    
}

.rss{
    width: 25%;
    float: left;
    /* height: 640px; */
}

.general{
    position: absolute;  
    width: auto;
    color: aliceblue;
    background-color: rgb(71, 23, 23);
}

.imgIndex {
    width: 95%;
  }

  .imgLaCartaLeft{
    margin-top: 30px;
  }


/* ESTILOS DE PAGINA DE PROMOCIONES */
h3{
    font-family: cursive;
    margin: 20px;
    color: white; 
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.divPromo{
    width: 50%;
    float: left;
    padding: 10px;
}
button{
    background-color: white;
    padding: 10px;
    font-family: cursive;
    font-size: 18px;            
}
button:hover{
    background-color: rgb(165, 112, 42);
    color: white; 
}
.infoExtra{
    width: 25%;
    float: left;
    padding-top: 50px;
    padding: 20px;                       
}
.infoExtraDentro{
    background-color: rgb(71, 23, 23);
    padding: 15px;
}        
.infoExtraDentro2{
    background-color: rgb(95, 51, 21);
    margin-top: 40px;
    padding: 15px;
    margin-bottom: 40px;
}
.divRecetas{
    width: 25%;
    float: left;
    padding-top: 40px;
}
.divRecetasDentro{
    padding: 15px;
    border-bottom: 1px solid white;
}
.contenedorVideo{
    position:relative; 
    width: 100%;
    height: 0;
    padding-bottom: 250px;
}
.video{
    position:absolute; 
    top:0;
    left:0; 
    width: 100%;
    height: 100%;
}
.mainPromociones{
    background-image: url("img/ImgPromociones/fondoPromociones1.jpg");
    background-size: auto;
    background-position: center;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.dashboardPromo{            
    width: 50%;
    float: left;            
    background-color: rgba(128, 128, 128, 0.123);
    margin-top: 20px;
}
/*--------------------CSS Acerca de------------------------*/
h2{
    font-family: cursive;
    margin: 20px;
    color: white; 
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

.contacto{
    width: 25%;
    float: left;
    padding-top: 50px;
    padding: 20px;                       
}
.contacto h2{
    background-color:  rgb(71, 23, 23);
}
.contactoInfo{
    padding: 15px;
}        
.contactoInfo1{
    background-color: rgb(95, 51, 21);
    margin-top: 40px;
    padding: 15px;
    margin-bottom: 40px;
}
.contactoContenido p{
    background-color: rgb(95, 51, 21);
}
.dashboardAcerca{            
    width: 50%;
    float: left;            
    background-color: rgba(128, 128, 128, 0.123);
    margin-top: 20px;
}
.dashboardAcerca p{
    background-color: rgb(95, 51, 21);
    font-weight: bold;
}
.dashboardAcerca h2{
    background-color: rgb(71, 23, 23);
}
.divHistoria{
    width: 50%;
    float: left;
    padding: 10px;
}

.divHistoria h3{
    background-color: rgb(95, 51, 21);
}
.adicional{
    width: 25%;
    float: left;
    padding-top: 50px;
    padding: 20px;  
}
.divAdicionalInfo h2{
    background-color: rgb(71, 23, 23);
}
.divAdicionalInfo{
    padding: 15px;
}
.divAdicionalInfo p{
    background-color: rgb(95, 51, 21);
}
.divAdicionalInfo1{
    background-color: rgb(95, 51, 21);
    margin-top: 40px;
    padding: 15px;
    margin-bottom: 40px;
}
.divVideo{
    position:relative; 
    width: 100%;
    height: 0;
    padding-bottom: 250px;
}
.videoHistoria{
    position:absolute; 
    top:0;
    left:0; 
    width: 100%;
    height: 100%;
}
.mainAcercaD{
    background-image: url("/img/imgAcerca/fondoCafe.jpg");
    background-size: 100%;
    background-position: center;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.principal a {
color: aliceblue;
font-weight: bold;
text-decoration: none;
}

.principal a:hover{
color: aliceblue;
font-weight: bold;
text-decoration: none;
font-size: 18px;
}

#imgCrepa{
    width:50%
}

.divCrepa{
    float: left; 
    padding-bottom: 20px;
}
